<!DOCTYPE html>
<html lang="fr">
{% include 'base.html' %}
<head>
    <meta charset="UTF-8">
    <title>cartes des équipes</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
    <h1 style="text-align:center">Cartes equipe 1</h1>&nbsp;
    <div class="row d-flex justify-content-center">
        {% for pokemon in pokemonsList %}
        <div class="col-md-6" style="width: 300px;">
            <div class="card">
                <img class="card-img-top" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ pokemon }}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="align-self-end btn btn-lg btn-block btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>