<!DOCTYPE html>
<html lang="fr">
{% include 'base.html' %}
<head>
    <meta charset="UTF-8">
    <title>cartes des équipes</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
<a href="{% url 'create_equipe' %}" class="align-self-end btn btn-block btn-primary">Ajouter une équipe</a>

    <div class="row d-flex justify-content-center">
    <h1> Voici vos équipes : </h1>
    {% if equipe == 0 %}
        <h1>Vous n'avez pas d'équipe</h1>
    {% else %}
        {% for element in equipeList %}
        <div class="col-md-6" style="width: 300px;">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ element.name }}</h4>
                    <a href="{% url 'equipe_details' element.id %}" class="align-self-end btn btn-block btn-primary">détails</a>
                    <a href="{% url 'update_equipe' element.id %}" class="align-self-end btn btn-block btn-primary">modifier</a>
                    <a href="{% url 'delete_equipe' element.id %}" class="align-self-end btn btn-block btn-warning">supprimer</a>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}
    </div>
</body>
</html>