<!DOCTYPE html>
<html lang="fr">
{% include 'base.html' %}
<head>
    <meta charset="UTF-8">
    <title>cartes des équipes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
<div class="d-flex" style="justify-content: space-between; margin-bottom: 10%">
    <h1> Voici vos équipes : </h1>
    <a href="{% url 'create_equipe' %}" class="align-self-end btn btn-block btn-secondary">Ajouter une équipe</a>
</div>
<div class="row d-flex justify-content-center">
    {% if equipe == 0 %}
        <h1>Vous n'avez pas d'équipe</h1>
    {% else %}
        {% for element in equipeList %}
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{ element.name }}</h4>
                        <a href="{% url 'equipe_details' element.id %}"
                           class="align-self-end btn btn-block btn-secondary">Détails</a>
                        <a href="{% url 'update_equipe' element.id %}"
                           class="align-self-end btn btn-block btn-secondary">Modifier</a>
                        <a href="{% url 'delete_equipe' element.id %}" class="align-self-end btn btn-block btn-danger">Supprimer</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
</body>
</html>