<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Bienvenue sur Django</h1>
        <p>Bonjour {{name}} !</p>
    </div>
    Voici la liste des armes à votre disposition :
    <ul>
        {% for weapon in weaponsList %}
        <li>{{ weapon }}</li>
        {% endfor %}
    </ul>
</body>
</html>